<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>blogs</servlet-name>
        <servlet-class>com.classifieds.org.blogs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.classifieds.org.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNews</servlet-name>
        <servlet-class>com.classifieds.org.addNews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>individualBlog</servlet-name>
        <servlet-class>com.classifieds.org.individualBlog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendRedirect</servlet-name>
        <servlet-class>com.classifieds.org.sendRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servAddCategory</servlet-name>
        <servlet-class>com.classifieds.org.servAddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>com.classifieds.org.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addAdd_from_Master_Slave</servlet-name>
        <servlet-class>addAdd_from_Master_Slave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ad_Final</servlet-name>
        <servlet-class>com.classifieds.org.ad_Final</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sersearchView_Detail_Master_Slave</servlet-name>
        <servlet-class>com.classifieds.org.sersearchView_Detail_Master_Slave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeAct</servlet-name>
        <servlet-class>com.classifieds.org.ServeAct</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>blogs</servlet-name>
        <url-pattern>/blogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNews</servlet-name>
        <url-pattern>/addNews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>individualBlog</servlet-name>
        <url-pattern>/individualBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendRedirect</servlet-name>
        <url-pattern>/sendRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servAddCategory</servlet-name>
        <url-pattern>/servAddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>addAdd_from_Master_Slave</servlet-name>
        <url-pattern>/addAdd_from_Master_Slave</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>ad_Final</servlet-name>
        <url-pattern>/ad_Final</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sersearchView_Detail_Master_Slave</servlet-name>
        <url-pattern>/sersearchView_Detail_Master_Slave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeAct</servlet-name>
        <url-pattern>/ServeAct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
