@charset "utf-8";
/* 

Name : Template World.
Author : DKS, Indusnet Technologies
Version : tempalteworld_index.psd
Date : 11-Dec-08
Author URL : NA

*/


/***********************************************/
/* General CSS Document Starts Here            */
/***********************************************/
form, h1, h2, h3, h4, div, ul, li, pre, label, p, img, span, object {
	padding:0px;
	margin:0px;
	border:0;
}
html { height:100%; padding-bottom:1px; }
body {
	background:#fff url(../images/sprite.png) repeat-x 0 -368px;
	padding:0px;
	margin:0px;
	height:100%;
}
.externalcontainer {
	padding:0;
	width:901px;
	/*width:98%;*/
	margin:0 auto;
}
td {
	text-align:left;
	vertical-align:top;
	}
.ct { text-align:center; vertical-align:top; }	
div, p {
	font:normal 11px/16px Tahoma, Arial, Helvetica, sans-serif;
	text-transform:none;
	text-decoration:none;
	color:#1A1A1A;
}
a {
	text-decoration:underline;
	color:#C60000;
	}
a:hover {
	text-decoration:none;
	color:#000;
	}
a:focus { outline:none }

.specer {
	font-size:2px;
	line-height:2px;
	padding:0;
	margin:0;
	clear:both;
	}
h1 {
	font:normal 19px/22px "Trebuchet MS", Georgia, "Times New Roman";
	text-transform:uppercase;
	color:#323131;
	}
h1 span { color:#CE2222;font-weight:bold; }
h2 {
	font:normal 14px "Trebuchet MS", Georgia, "Times New Roman";
	color:#323131;
	}
h2 span { color:#CE2222;font-weight:bold; }		
h3 {
	font:normal 24px/30px Tahoma, Arial, Helvetica, sans-serif;
	margin:7px 0;
	color:#DC6B00;
	}
h4 {
	font:normal 18px/22px Tahoma, Arial, Helvetica, sans-serif;
	color:#3B3B3B;
	margin:12px 0;
	}			

/***********************************************/
/* Header CSS Document Starts Here             */
/***********************************************/
.banner {
	/*background:url(../images/banner.jpg) no-repeat 50% 0;*/
	height:188px;
	margin-bottom:10px;
	}
#header {
	height:126px;
	}
#header div {
	height:90px;
	}	
#header img {
	float:left;
	margin:30px 0 0 0;
	}
#header div .logo{
	width:193px; 
	height:35px;
	float:left;
	margin:30px 0 0 0;
	background:url(../images/sprite.png) no-repeat 0 -138px;
	text-indent:-9999px;
}
#header .hdr_note {
	background:url(../images/sprite.png) repeat-x -364px -237px;
	float:right;
	padding:4px 0;
	margin:6px 0 0 0;
	height:60px;
	width:268px;
	}
#header .hdr_note li {
	padding:0 24px;
	}
#header .hdr_note li span {
	color:#E9E9E9;
	font-weight:bold;
	}	
#header .hdr_note li strong {
	color:#1CA0D2;
	}		
#header .hdr_note li.join {
	background:url(../images/sprite.png) repeat-x -364px -238px;
	height:25px;
	}	
#header .hdr_note li.join a {
	background:url(../images/sprite.png) no-repeat 0 -207px;
	text-align:center;
	font-weight:bold;
	width:74px;
	height:19px;
	display:block;
	float:right;
	}		
#header .hdr_note li { color:#CCCCCC;
	list-style:none; }	
#header ul.nav {
	/* background:url(../images/top_link_shd.gif) repeat-x 0 0; */
	padding-top:3px;
	margin-top:0px;
	height:30px;
	}
#header ul.nav li {
	list-style:none;
	float:left;
	}
#header ul.nav li#home a {
	border-left:solid 1px #fff;
	padding:0 28px 0 29px;
	}
.safari #header ul.nav li#home a { /* Hack for Safari 28 Jan DK */
	padding:0 30px 0 31px;
	}
#header ul.nav li#signUp {
	}	
#header ul.nav li#signUp a {
	background:#fff url(../images/sprite.png) no-repeat -73px -173px;
	text-align:center;
	padding:0 35px 0 39px;
	}		
#header ul.nav a {
	font:bold 12px/27px Tahoma, Arial, Helvetica, sans-serif;
	background:#1CA3D5 url(../images/sprite.png) repeat-x 0 -331px;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	border-top:solid 1px #fff;
	text-decoration:none;
	padding:0 28px;
	
	display:block;
	color:#fff;
	}
#header ul.nav a:hover , #header ul.nav a.active {
	background:#C60000;
	text-decoration:none;
	border-bottom:none;
	padding-bottom:1px;
	color:#FEFEFE;
	}					
#content_wrapper {
	height:100%;
	overflow:hidden;
	padding:20px 0 0 0;
	}
#leftpanel {
	width:202px;
	padding-bottom:12px;
	float:left;
	}
#leftpanel .imageLink{
	border: 0px;
	background-color: #fff;
}
#leftpanel div.leftGradient {
	background:url(../images/left_panel_bg.gif) repeat-y 100% 0;
	}
.contentPane {
	margin-left:212px;
	padding:0;
	}
.with_arm { position:relative; padding:22px; border-top:solid 1px #B6B6B6; min-height:600px; }
.with_arm .larm { position:absolute; left:0; top:-1px;  }
.with_arm .rarm { position:absolute; right:0; top:-1px; }

.ieHeight { height:550px; }
.height100 {  height:100%!important; }

.H_adjust { float:left; width:1px; height:600px;}

.innerPageContents h4 {
	font:normal 16px/22px "Trebuchet MS", "Times New Roman", Arial;
	text-transform:uppercase;
	margin:18px 0 6px 0;
	color:#333333;
	}
.innerPageContents p {
	margin:8px 0 12px 0;
	}
.innerPageContents ul {
	padding:0 0 0 26px;
	}
.innerPageContents li {
	padding:4px 0 4px 6px;
	}		


/***********************************************/
/* Left Panel CSS Document Starts Here         */
/***********************************************/
#leftpanel .left_afflt img {
	margin:4px 0;
	display:block;
	}
#leftpanel h2 {
	font:bold 15px/17px "Trebuchet MS", Georgia, "Times New Roman";
	text-transform:uppercase;
	background:inherit;
	color:#C60000;
	margin:15px 0;
	}
#leftpanel .bot_adjst {
	background:url(../images/sprite.png) no-repeat 72px -255px;
	display:block;
	height:12px;
	}	
#leftpanel h2.grad_adjust {
	background:url(../images/sprite.png) no-repeat 72px -226px;
	padding-top:15px;
	margin:0 0 15px 0;
	}	
#leftpanel ul.navLinks {
	padding:0 0 0 0;
	margin:0;
	}		
#leftpanel ul.navLinks li {
	list-style:none;
	padding:0;
	margin:0;
	}	
#leftpanel ul.navLinks a {
	background:url(../images/sprite.png) no-repeat -495px -129px;
	padding:3px 0 5px 18px;
	text-decoration:none;
	display:block;
	color:#1A1A1A;
	}
#leftpanel ul.navLinks a:hover, #leftpanel ul.navLinks a.selected {
	background-position:-495px -130px;
	border-top:solid 1px #D4D4D4;	
	border-bottom:solid 1px #D4D4D4;
	background-color:#fff;
	padding:2px 0 4px 18px;
	color:#C60000;
	}
	
#leftpanel ul ul.catnavlinks {
	padding:0 0 0px 0;
	margin:0;
	}		
#leftpanel ul ul.catnavlinks li {
	list-style:none;
	padding:0;
	margin:0;
	}	
#leftpanel ul ul.catnavlinks a {
	background:url(../images/bullet.gif) no-repeat 12px 7px;
	padding:1px 0 1px 28px;
	text-decoration:none;
	height:19px;
	min-height:19px;
	display:block;
	color:#1A1A1A;
	}
	
#leftpanel ul ul.catnavlinks a:hover, #leftpanel ul ul.catnavlinks a.selected {
	background-position:12px 6px;
	border-top:solid 1px #D4D4D4;	
	border-bottom:solid 1px #D4D4D4;
	background-color:#fff;
	padding:0 0 0 28px;
	color:#C60000;
	}	
		
.premium_text {
	font:bold 10px/12px "Trebuchet MS", Georgia, "Times New Roman";
	/*text-transform:uppercase;
	background:inherit;*/
	color:#C60000;
}			
/***********************************************/
/* Right panel CSS Document Starts Here        */
/***********************************************/
.top_affiliate { margin-bottom:6px; text-align:center; }	
.module_templates {
	border:solid 1px #D4D4D4;
	padding:16px 10px;
	overflow:auto;
	margin:6px 0;
	}
.module_templates ul {
	height:100%;
	}
.module_templates ul li {
	list-style:none;
	width:103px;
	height:136px;
	padding:18px 15px;
	float:left;
	}
/*.module_templates ul li .temp_placeholder {
	border:solid 1px #D4D4D4;
	text-align:center;
	line-height:115px;
	vertical-align:middle;
	height:113px;
	display:block;
	width:101px;
	margin-bottom:8px;
	}*/
.module_templates ul li .temp_placeholder { 
	width:101px; 
	height:112px; 
	display:table;
	border:solid 1px #D4D4D4;
	margin:0 auto 8px auto;
	}
.module_templates ul li .temp_placeholder .positionn { 
	display: table-cell; 
	vertical-align:middle; 
	width:100%;
	text-align:center; 
	}
.module_templates ul li span { 	
	display:block; height:18px; 
	}
	
.module_templates ul li .new {
	background:url(../images/sprite.png) no-repeat 0 0;
	text-indent:-2000px;
	line-height:12px;
	margin-right:7px;
	height:12px;
	width:33px;
	float:left;
	}
.module_templates ul li .new:hover {
	background-position:0 -12px;
	}
.module_templates ul li a.details {
	/*background:url(../images/dash.gif) repeat-x 0 100%;*/
	text-decoration:underline;
	line-height:16px;
	color:#090909;
	float:left;
	margin-top:-4px;
	}
.module_templates ul li a.details:hover {
	background:none;
	text-decoration:none;
	}
.customer_desk {
	text-align:center;
	margin:20px 0 12px 0;
	}
.customer_desk img {
	margin:0 8px;
	}
.show_all {
	text-align:right;
	padding:16px 4px 4px 0;
	}	
.show_all a {
	background:url(../images/dash2.gif) repeat-x 0 100%;
	font-weight:bold;
	color:#818180;
	}
.module_container {
	border:solid 1px #D4D4D4;
	padding:16px 10px;
	overflow:auto;
	margin:6px 0;
	}	
.template_container h1 {
	text-indent:25px;
	}	
.template_container ul {
	height:100%;
	overflow:hidden;
	}
.template_container ul li {
	float:left;
	list-style:none;
	width:160px;
	height:246px;
	padding:9px 31px;
	padding:9px 30px;
	margin-bottom: 12px;
	}
.template_container ul li span { display:block; }	
.template_container div.template_holder {
	width:150px;
	height:158px;
	vertical-align:middle;
	border:solid 1px #CCCCCC;
	padding:3px;
	line-height:158px;
	display:block;
	}
.badge_image {
	background:url(../images/badge.png) no-repeat;
	}

.template_container div.template_holder img {
	vertical-align:middle;
	}
.template_container div.template_holder a {
	line-height:158px;
	}
.template_container ul li span.temp_info {
	background-color:#F1F0DF;
	border:solid 1px #E0DFDF;
	line-height:12px;
	padding:6px 3px;
	color:#090909;
	font-size:10px;
	/*height:38px;*/
	height:50px;
	}
.template_container ul li span.temp_info br {
	line-height:0;
	padding:0;
	margin:0;
	}	
.template_container ul li span.temp_info strong {
	color:#000000;
	}	
.template_container ul li span.rev_downLinks {
	text-align:center;
	padding:6px 4px;
	}
.template_container ul li span.rev_downLinks a {
	text-decoration:underline;
	color:#090909;
	}
.template_container ul li span.rev_downLinks a:hover {
	color:#CC0000;
	text-decoration:none;
	}
.pagination, .pagination a, .pagination p {
	text-align:center;
	font-weight:bold;
	color:#000000;
	}	
.pagination p { margin:6px 0; }	
.pagination a {
	margin:0 2px;
	}
.pagination a:hover, .pagination a.active, .pagination p strong {
	text-decoration:none;
	color:#CC0000;
	}
.temp_preview { height:100%; overflow:hidden; }	

.temp_preview h1 {
	margin-bottom:12px;
	}	
.templatePrev_right {
	margin:0 0px 0 10px;
	padding-top:44px;
	width:159px;
	float:right;
	}
.templatePrev_right ul {
	padding:20px 0;
	}
.templatePrev_right li {
	list-style:none;
	margin:6px 0;
	color:#424141;
	}
.templatePrev_right li span {
	font:bold 14px/15px "Trebuchet MS", Georgia, "Times New Roman", Arial;
	color:#2D70A2;
	display:block;
	}
.templatePrev_right .download {
	background:url(../images/download.gif) no-repeat 0 0;
	text-indent:-2000px;
	width:159px;
	height:50px;
	display:block;
	}
.templatePrev_right .download:hover {
	background-position:0 100%;
	}
.templatePrev_right form h1 {
	margin:25px 0 20px 0; 
	}
.templatePrev_right form input {
	background-color:#D0EBF5;
	border:solid 1px #B2B2B2;
	padding-left:3px;
	color:#2D70A2;
	font-weight:bold;
	font-size:11px;
	}
.templatePrev_right form input.btn {
	border:none;
	width:auto;
	height:auto;
	padding-left:0px;
	margin-top:5px;
	}
	
.container_bullets {
	margin:15px 0;
	}	
.container_bullets ul {
	padding:0 0 0 10px;
	}
.container_bullets ul li {
	font:12px "Trebuchet MS", "Times New Roman", Arial;
	background:url(../images/sprite.png) no-repeat -487px 4px;
	padding:0 0 0 27px;
	list-style:none;
	position:relative;
	margin:7px 0;
	}	
	
	
.template_criteria {
	margin:30px 0;
	}	
.template_criteria ul {
	padding:0 0 0 25px;
	}
.template_criteria ul li {
	font:bold 12px/14px "Trebuchet MS", "Times New Roman", Arial;
	background:url(../images/bullet2.gif) no-repeat 0 4px;
	padding:0 0 0 27px;
	list-style:none;
	position:relative;
	color:#2D70A2;
	margin:7px 0;
	}
.yel_note {
	font:normal 14px/16px "Trebuchet MS", "Times New Roman", Arial;
	background-color:#FAFBED;
	border:solid 1px #D9D9D9;
	padding:28px 24px;
	color:#595959;
	}	
.template_criteria ul li.McAfee img {
	display:block;
	}
.contactForm h1 { margin:12px 0; }	
.contactForm ul.varification {
	padding:28px 0 24px 28px;
	}	
.contactForm ul.varification li {
	font:normal 14px/16px "Trebuchet MS", "Times New Roman", Arial;
	background:url(../images/bullet3.gif) no-repeat 0 4px;
	list-style:none;
	padding-left:28px;
	color:#2D70A2;
	margin:4px 0;
	}
.contactForm .userInfo {
	background-color:#E7F5FA;
	padding:16px 14px;
	margin:0 0 14px 0;
	}
.contactForm .userInfo td {
	text-align:left;
	vertical-align:top;
	font-weight:bold;
	color:#090909;
	}
.contactForm .userInfo td span {
	font-weight:normal;
	}	
.contactForm .userInfo td input {
	background-color:#D0EBF5;
	border:solid 1px #B2B2B2;
	padding:3px 0 0 4px;
	font-size:14px;
	width:270px;
	height:19px;
	margin-bottom:3px;
	}
.contactForm .userInfo td input.genInput {
	height:auto;
	width:auto;
	border:none;
	}
.package {
	background-color:#E3F3F9;
	border-collapse:collapse;
	}
.package td {
	font-size:12px;
	border:solid 3px #fff;
	padding:15px;
	}	
.package thead td {
	font:bold 14px/16px "Trebuchet MS", "Times New Roman", Arial;
	background-color:#E2F1E9;
	text-transform:uppercase;
	text-align:center;
	color:#2D70A2;
	padding:15px;
	}
.package thead td.pck {
	background-color:#F5F8DC;
	}
.package td strong span, .package td span {
	color:#C60000;
	}
.contactForm ul.choosePackage {
	padding:12px 12px 24px 12px;
	}
.contactForm ul.choosePackage li {
	font:normal 11px/13px Tahoma, Arial, Helvetica, sans-serif;
	list-style:none;
	display:block;
	height:24px;
	}
.contactForm ul.choosePackage li label, .contactForm ul.choosePackage li input {
	float:left;
	}
.contactForm ul.choosePackage li label { padding-left:12px; }
.contactForm .payment img {
	margin-left:22px;
	}																																
.roundedCorv {
	margin:10px 0px;
}
.top-left, .top-right, .bottom-left, .bottom-right {
	background-image:url(../images/curvee1000_22.gif); 
	height:11px;       /* CHANGE: replace by the height of one of your corners (= 1/2 height of the image) */
	font-size:2px;    /* DNC: correction IE for height of the <div>'s */ 
	}
.top-left, .bottom-left { 
	margin-right:11px; /* CHANGE: replace by the width of one of your corners */
	}
.top-right, .bottom-right { 
	margin-left:11px;  /* CHANGE: replace by the width of one of your corners */
	margin-top:-11px;  /* CHANGE: replace by the height of one of your corners */
	}
.top-right {
	background-position:100% 0;    /* DNC: position right corner at right side, no vertical changes */
	}
.bottom-left  { 
	background-position:0 -11px;    /* CHANGE: replace second number by negative height of one of your corners */
	}
.bottom-right { 
	background-position:100% -11px; /* CHANGE: replace second number by negative height of one of your corners */
	}
.inside {
	border-left:1px solid #C4C4C4; 
	border-right:1px solid #C4C4C4;
	color:#000000; 
	padding:0 10px;
	height:100%;              
	}
.notopgap    { margin:0; padding:0; font-size:2px; line-height:2px; }    /* DNC: to avoid splitting of the box */
.nobottomgap { margin:0; padding:0; font-size:2px; line-height:2px; } /* DNC: to avoid splitting of the box */


.login {
	width:478px;
	margin:50px auto 70px auto;
	}
.login h1 {
	background:url(../images/login_ico.gif) no-repeat 0 0;
	font-size:25px;
	padding:15px 0 5px 70px;
	margin-bottom:26px;
	}
.login h1 strong {
	font-size:19px;
	text-transform:none;
	font-weight:normal;
	display:block;
	color:#7D7D7D;
	}
.login h5 {
	font:normal 14px/16px "Trebuchet MS", "Times New Roman", Arial;
	color:#2D70A2;
	}
.login p {
	font-size:12px;
	margin:10px 0;
	}
.login p a {
	font-weight:bold;
	color:#090909;
	}
.login label { display:block; padding:6px 0; font-size:12px; }				
.login input.usepws {
	font:bold 16px/17px "Trebuchet MS", "Times New Roman", Arial;
	padding:16px 0 16px 23px;
	border:solid 1px #BCBCBC;
	color:#2D70A2;
	width:100%;
	}
.general_button, .login .general_button {
	border:solid 1px #AFAFAF;
	float:left;
	display:block;
	}	
.general_button input, .login .general_button input {
	background:#F0F0F0 url(../images/genBtn_bg.gif) repeat-x 0 0;
	font:bold 10px/19px Verdana, Arial, Helvetica, sans-serif;
	padding:2px 8px;
	border:solid 1px #fff;
	}
.login .general_button input {
	padding:4px 20px;
	}											
/***********************************************/
/* User section CSS Document Starts Here       */
/***********************************************/
.user_action {
	background-color:#626260;
	padding:12px 0;
	}
.user_action form {
	padding:0;
	margin:0;
	}
.user_action form input.send{
	width:42px;
	height:17px;
	float:left;
	border:0;
	cursor:pointer;
	margin-bottom:20px;
	background:url(../images/sprite.png) no-repeat 0 -173px;
}
.user_action form input.subscribe{
	width:65px;
	height:17px;
	float:left;
	border:0;
	cursor:pointer;
	background:url(../images/sprite.png) no-repeat 0 -190px;
}
.user_action p {
	font:normal 10px/14px Verdana, Arial, Helvetica, sans-serif;
	margin-bottom:17px;
	color:#fff;
	}	
.user_action ul {
	height:100%;
	overflow:hidden;
	}
.user_action input.txtBox {
	font:bold 10px/12px Verdana, Arial, Helvetica, sans-serif;
	border:solid 1px #C9C7C7;
	margin:-2px 3px 3px 0px;
	width:180px;
	height:15px;
	float:left;
	}		
.user_action ul li {
	list-style:none;
	float:left;
	}
.user_action ul li.add{
	width:170px;
	height:330px;
	background:url(../images/sprite.png) no-repeat -194px -2px;
}
.user_action ul li.add a{
	width:100%;
	height:100%;
	float:left;
}
.user_action ul li.tell_frnd {
	padding:0 25px;
	width:200px;
	}		
.user_action h3 {
	font:normal 25px/28px "Trebuchet MS", Georgia, "Times New Roman";
	text-transform:uppercase;
	margin:20px 0 10px 0;
	color:#fff;
	clear:left;
	}
.user_action ul ul {
	padding-top:0px;
	margin-top:-6px;
	}		
.user_action ul ul li {
	font:normal 11px/21px Tahoma, Arial, Helvetica, sans-serif;
	float:none;
	margin:4px 0; 
	}
.user_action ul ul li span {
	border-right:solid 1px #584D4D;
	margin-right:18px;
	display:block;
	color:#78DDFF;
	float:left;
	width:62px;
	}
.user_action ul ul li img {
	float:left;
	margin:5px 8px 0 0;
	}
.user_action ul ul li a {
	background:url(../images/sprite.png) no-repeat -491px -159px;
	text-decoration:none;
	color:#fff;
	padding-left:20px;
	}
.user_action ul ul li a:hover {
	text-decoration:underline;
	color:#78DDFF;
	}
/* News and Announcment CSS here */
.news h1 { margin-top:22px; }
.news { margin:0 0 22px 30px; }
.news ul {
	padding:30px 0 10px 75px;
	}
.news ul li {
	font:normal 11px/21px Tahoma, Arial, Helvetica, sans-serif;
	list-style:none;
	float:none;
	margin:4px 0; 
	}	
.news ul li span {
	border-right:solid 1px #CCCCCC;
	margin-right:18px;
	display:block;
	color:#CC3300;
	float:left;
	width:76px;
	}
.news ul li img {
	float:left;
	margin:5px 12px 0 0;
	}
.news ul li a {
	background:url(../images/dash.gif) repeat-x 0 100%;
	text-decoration:none;
	color:#333333;
	}
.news ul li a:hover {
	text-decoration:underline;
	color:#CC0000;
	}
/* FAQ page CSS start here */
.ans {
	visibility:hidden; overflow:hidden;
	position:relative;
	}
.ans_content {
	position:relative;
	padding:0px;border:solid 1px #fff; border-bottom:none; padding:15px 0;
	}
.main_link { margin-bottom:4px; }	
.main_link a {
	font:bold 14px/18px "Trebuchet MS", "Times New Roman", Arial;
	background-color:#D0EBF5;
	text-transform:uppercase;
	color:#2D70A2;
	display:block;
	padding:4px 0 4px 21px;
	position:relative; text-decoration:none;
	}
.faq p {
	font-size:12px;
	padding:5px 0;
	display:block;
	margin-bottom:20px;
	margin-left:30px;
	}
.faq p strong { float:left; display:block; font-size:14px; }
.faq p span, .faq p.qestn span {
	display:block;
	margin-left:70px;
	}	
.faq p.qestn {
	font:bold 14px/16px "Trebuchet MS", "Times New Roman", Arial;
	color:#2D70A2;
	margin-bottom:0px;
	}
.faq p.qestn strong {
	color:#CC0000;
	}					
/* Content that is slided down */

/******************************* Free Template part starts on 17-12-08 *********************************/

.freepanel {
	padding:0 0 30px 0;
	overflow:auto;
	}
.freetemp {
	padding:0;
	margin:0 350px 0 0;
	}
.freetemp h3 {
	background:url(../images/free_ico.gif) no-repeat 0 0;
	font:bold 25px/27px "Trebuchet MS", "Times New Roman", Arial;
	color:#323131;
	height:50px;
	margin-bottom:0px;
	text-transform:uppercase;
	padding:15px 0 10px 80px;
	}
.freetemp h3 span {
	color:#C60000;
	}
.freetemp h3 span.grey {
	color:#7D7D7D;
	font-size:20px;
	}	
.freetemp p {
	width:404px;
	text-align:justify;
	color:#3D3D3D;
	margin:18px 0 0 30px;
	font:normal 14px/16px "Trebuchet MS", "Times New Roman", Arial;
	}	
.freetemp p b, .freetemp p strong {
	color:#C60000;
	text-transform:uppercase;
	padding:0 5px 0 0px;
	}
.freetemp span {
	color:#2D70A2;
	}
.freesearch {
	padding:85px 0 0 0;
	width:343px;
	float:right;
		}
.freesearch ul {
	width:150px;
	float:right;
	padding:24px 0 24px 0px;
	list-style:none;
	margin:0 0 10px 0;
	background:url(../images/shadow-bar.gif) no-repeat right 0;
	}
.freesearch li {
	padding:5px 0;
	}
.freesearch li a {
	font:normal 12px/16px "Trebuchet MS", "Times New Roman", Arial;
	text-transform:uppercase;
	text-decoration:none;
	color:#2D70A2;
	padding:10px 0;
	}		
.freesearch li a:hover 	{
	color:#064472;
	text-decoration:none;
	}
.freesearch ul.nobrdr {
	background-image:none;
	padding:24px 0px 0 30px;
	}
.freesearch .designer , .freesearch .midselect , .tempbottom .designer {
	width:214px;
	margin:10px 0 5px 0;
	text-transform:uppercase;
	font:normal 11px/16px "Trebuchet MS", "Times New Roman", Arial;
	}
.freesearch .midselect , .tempbottom .midselect {
	width:95px;
	display:block;
	}
.freesearch .pagination ul , .tempbottom .pagination ul {
	padding:0;
	width:320px;
	list-style:none;
	margin:10px 20px 0 0;
	background-image:none;
	border:1px solid #C6C6C6;
	}
.freesearch .pagination li  , .tempbottom .pagination li{
	float:left;
	padding:10px 0px;
	border-top:1px solid #F4F4F4;
	}
.freesearch .pagination li a , .tempbottom .pagination li a{
	background:url(../images/bar.gif) no-repeat 0 0;
	font:bold 15px/20px "Trebuchet MS", "Times New Roman", Arial;
	padding:10px 10px 10px 14px;
	color:#2D70A2;
	text-decoration:none;
	}
.freesearch .pagination li a:hover , .tempbottom .pagination li a:hover {
	color:#B81B1B;
	}
.freesearch .pagination li a.grey , .tempbottom .pagination li a.grey {
	color:#BCBCBC;
	}
.freesearch .pagination li a.nobrdr , .tempbottom .pagination li a.nobrdr {
	background-image:none;
	}
.templatepanel {
	background-color:#F6F6F6;
	margin:0 0 10px 0;
	padding:0 0 10px 0;
	overflow:auto;
	height:100%;
	}
.templatepanel h3 {
	color:#337DB9;
	margin:0px 0 0 0px;
	padding:8px 0 8px 12px;
	background-color:#D0EBF5;
	font:bold 12px/16px Arial;
	}
.templatepanel .template {
	float:left;
	border:4px solid #D7D6D6;
	padding:4px;
	margin:10px 190px 40px 15px
	}
.templatepanel p {
	font:bold 12px/16px Arial, Helvetica, sans-serif;
	color:#337DAC;
	margin:8px 0;
	}
.templatepanel span {
	color:#141414;
	padding:0 0 0 13px;
	font-weight:normal;
	text-decoration:none;
	}
.templatepanel a{
	color:#141414;
	padding:0;
	text-decoration:none;
	font-weight:bold;
	}
.templatepanel u {
	width:120px;
	text-align:right;
	display:block;
	float:left;
	}
.templatepanel .links {
	padding:0 0 0 0px;
	width:210px;
	float:right;
	}	
.templatepanel a.link {
 	font:normal 11px/16px Tahoma;
	margin:0 10px 0 2px;
	color:#141414;
	text-decoration:underline;
	}

.templatepanel a.link:hover{
 	text-decoration:none;
	}
.templatepanel a:hover {
	text-decoration:underline;}
	
.templatepanel .rating {
	border:0;
	padding:0;
	float:none;
	}
.tempbottom {
	padding:10px 0 0 0;
	border-top:5px solid #F6F6F6;
	}
.tempbottom .midselect {
	display:inline;
	margin:0 0 0 0px;
	}
.tempbottom .designer {
	margin:0 22px 0 0;
	}
 .tempbottom .pagination {
 	float:right;
	}
.tempbottom .pagination ul {
	padding:0;
	height:28px;
	width:250px;
	list-style:none;
	margin:0px 0px 0 0;
	background-image:none;
	border:1px solid #C6C6C6;
	}
.tempbottom .pagination li{
	float:left;
	padding:5px 0px;
	border-top:1px solid #F4F4F4;
	}
.tempbottom .pagination li a{
	background:url(../images/bar1.gif) no-repeat 0 2px;
	font:bold 11px/14px "Trebuchet MS", "Times New Roman", Arial;
	padding:7px 8px 7px 11px;
	color:#2D70A2;
	text-decoration:none;
	}
.tempbottom .pagination li a:hover {
	color:#B81B1B;
	}
.freesearch .pagination li a.grey , .tempbottom .pagination li a.grey {
	color:#BCBCBC;
	text-transform:uppercase;
	}
.freesearch .pagination li a.nobrdr , .tempbottom .pagination li a.nobrdr {
	background-image:none;
	}
	
/******************************* Free Template part ends on 17-12-08 *********************************/

/************************************************/
/* After login section CSS Document Starts Here */
/************************************************/
.userContainer h5 {
	font:bold 16px/18px "Trebuchet MS", "Times New Roman", Arial;
	padding:0;
	margin:0 0 8px 0;
	}
.userContainer {
	
	}	
.userNav {
	border-bottom:solid 1px #C60000;
	padding-bottom:4px;
	text-align:center;
	margin-bottom:22px;
	}
.userNav li {
	display:inline;
	}
.userNav li a {
	font:normal 14px/16px "Trebuchet MS", "Times New Roman", Arial;
	text-decoration:none;
	padding:0 3px;
	color:#000;
	}
.userNav li a:hover {
	text-decoration:none;
	color:#C60000;
	}			
.userContainer {
	padding:12px 0;
	
	}
.userContainer .userLeftpane {
	width:170px;
	float:left;
	}
.userContainer .userLeftpane ul li {
	font:normal 12px/14px "Trebuchet MS", "Times New Roman", Arial;
	border-bottom:solid 1px #f1f1f1;
	list-style:none;
	padding:3px 0 3px 4px;
	margin:4px 0;
	}
.userContainer .userLeftpane ul li a {
	text-decoration:none;
	color:#000;
	}
.userContainer .userLeftpane ul li a:hover, .userContainer .userLeftpane ul li a.active {
	color:#C60000;
	}	
.userContainer .userContents {
	margin-left:22px;
	float:left;
	width:445px;
	}
.userContainer .userContents p {
	margin:8px 0 10px 0;
	}	
.userContainer .genForm {
	padding-left:22px;
	}
.userContainer .genForm label {
	width:120px;
	height:22px;
	margin-bottom:6px;
	display:block;
	float:left;
	line-height:22px;
	}
.userContainer .genForm input {
	width:210px;
	padding-left:4px;
	height:18px;
	float:left;
	}
.userContainer .genForm span {
	float:left;
	padding:0 4px;
	line-height:22px;
	}
.userContainer .genForm input.btn {
	background:url(../images/btn_bg.gif) repeat-x 0 100%;
	border:solid 1px #7DB5DE;
	font-size:14px;
	font-weight:bold;
	padding:0 9px;
	height:auto;
	width:auto;
	}	
.userContainer .genForm span.alert {
	background:url(../images/required.gif) no-repeat 50% 0;
	color:#FF0000;
	padding:0 7px;
	}		
.userContainer .genForm br {
	font-size:0px;
	line-height:0px;
	clear:left;
	}	

/***********************************************/
/* Footer sectio CSS Document Starts Here      */
/***********************************************/	
#footer {
	background-color:#CCE0EB;
	border-bottom:solid 1px #9EBED1;
	text-align:right;
	padding:11px 0;
	}
#footer span {
	float:left;
	}
#footer a {
	text-decoration:none;
	color:#1E1D1D;
	}
#footer a:hover {
	text-decoration:underline;
	color:#38B4DE;
	}			
#foot_notes {
	background:#1E1D1D url(../images/pattern.gif) repeat;
	line-height:14px;
	color:#AEAEAE;
	padding:20px 0;
	}
#foot_notes h6 {
	font:bold 11px/16px Tahoma, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#AEAEAE;
	padding:0;
	margin:10px 0;
	}	
#foot_notes p {
	color:#AEAEAE;
	margin:5px 0;
	line-height:14px;
	}
#foot_notes a {
	color:#AEAEAE;
	}
#foot_notes a:hover {
	color:#E4E4E4;
	}
#foot_notes p { padding-bottom:22px; }	
#foot_notes p.valid a {
	font:bold 12px/18px Arial, Helvetica, sans-serif;
	/*background:(../images/valid-tab.gif) no-repeat 0 0;*/
	background:url(../images/valid-tab.gif) no-repeat 0 0;
	text-decoration:none;
	padding:5px 0 0 29px;
	display:block;
	float:left;
	width:74px;
	height:21px;
	color:#000;
	margin-right:7px;
	}
#foot_notes p.valid a:hover {
	background:url(../images/valid-tab-hvr.gif) no-repeat 0 0;
	}

				/* */
				
				.sdmenu {
	width: 100%;
    font-family: Sans-Serif;
    font-size: 12px;
    padding-bottom: 10px;
    background: url(bottom.gif) no-repeat  right bottom;
    color: #FFF;
}

.sdmenu .title, .sdmenu .titlehidden{
    /*display: block;*/
    padding: 0px 0;
    font-weight: bold;
    color: white;
    /*background: #FFF url(title.gif) repeat-x;*/
}

.sdmenu .title {
   /* border-bottom: 1px solid #DDD;*/
   color:#1E8FC8;
}

.sdmenu .arrow {
	/*margin-left: 10px;*/
    margin: 2px 0 0 0px;
	height: 9px;
	width: 9px;
	cursor: pointer;
}

.sdmenu .titlehidden {
    border-bottom: none;
	color:#1E8FC8;
}

.sdmenu #top {
    /*background: url(toptitle.gif) no-repeat;*/
}

.sdmenu .submenu {
    overflow: hidden;
	background-image:url(../images/bgCompareChild.gif);
	background-position:0 0;
	background-repeat:repeat-x;
	background-color:#FFFFFF;
}
.sdmenu .submenu table{
	border-collapse:collapse;
	}

.sdmenu .submenu table td{
	background:none;
	}
	
.sdmenu .submenu a {
    padding: 5px 0;
    text-indent: 10px;
    background: #EEE;
    display: block;
    border-bottom: 1px solid #DDD;
    color: #066;
    text-decoration: none;
}

.sdmenu .submenu a:hover {
    /*background : #066 url(linkarrow.gif) no-repeat right center;*/
    color: #FFF;
}



/*/////////////////////////*/
.sdmenu1 {
	width: 100%;
    font-family: Sans-Serif;
    font-size: 12px;
    padding-bottom: 10px;
    background: #eee url(bottom.gif) no-repeat  right bottom;
    color: #FFF;
}

.sdmenu1 .title, .sdmenu1 .titlehidden{
    /*display: block;*/
    padding: 0px 0;
    font-weight: bold;
    color: white;
    /*background: #FFF url(title.gif) repeat-x;*/
}

.sdmenu1 .title {
   /* border-bottom: 1px solid #DDD;*/
   color:#1E8FC8;
}

.sdmenu1 .arrow {
	/*margin-left: 10px;*/
    margin: 2px 0 0 15px;
	height: 9px;
	width: 9px;
	cursor: pointer;
}

.sdmenu1 .titlehidden {
    border-bottom: none;
	color:#1E8FC8;
}

.sdmenu1 #top {
    /*background: url(toptitle.gif) no-repeat;*/
}

.sdmenu1 .submenu1 {
    overflow: hidden;
	background-image:url(../images/bgCompareChild.gif);
	background-position:0 0;
	background-repeat:repeat-x;
	background-color:#FFFFFF;
}
.sdmenu1 .submenu1 table{
	/*border-collapse:collapse;*/
	}

.sdmenu1 .submenu1 table td{
	background:none;
	padding:0 10px 0 16px;
	border-bottom:1px solid #DBDBDB;
	border-left:1px solid #DBDBDB;
	}
	
.sdmenu1 .submenu1 a {
    padding: 5px 0;
    text-indent: 10px;
    background: #EEE;
    display: block;
    border-bottom: 1px solid #DDD;
    color: #066;
    text-decoration: none;
}

.sdmenu1 .submenu1 a:hover {
    /*background : #066 url(linkarrow.gif) no-repeat right center;*/
    color: #FFF;
}


.top_padding{
 padding-top:20px;
}				

.flashDiv{
	border:1px solid #999999;
	width:430px;
	cursor:pointer;
	margin-left:18px;
}

.imgDiv{
	margin-left:16px;
}


.mutipleImg{
	float: left;
	width: 455px;
	text-decoration: none;
}


.mutipleImg img{
	border: 1px solid #CCCCCC;
	padding: 1px;
	margin-bottom: 10px;
}


.mutipleImg a span {
	padding: 0 0 7px 16px;
	font-weight: bold;
	color: #000000;
}

.module_tags {
    border:solid 1px #D4D4D4;
    padding:16px 10px;
    overflow:auto;
    margin:6px 0;
    }
    
.module_tags p {
    margin:12px 12px 12px 12px;
	}

.module_tags a.tag1 {
    font-size:12px;
    line-height:16px;
    color:#666666;
    text-decoration:none;
    }

.module_tags a.tag1:hover {
    font-size:12px;
    color:#000000;
    text-decoration:none;
    }
    
    .module_tags a.tag2 {
    font-size:20px;
    line-height:16px;
    color:#666666;
    text-decoration:none;
    }

.module_tags a.tag2:hover {
    font-size:20px;
    color:#000000;
    text-decoration:none;
    }
    
a.flag {  width:127px; height:47px; float:right; text-indent:-9999px; position:fixed; right:0; top:20px; background:url(../images/flag.png) no-repeat }
.downloadmid {
	background:url(../images/download.gif) no-repeat 0 0;
	text-indent:-2000px;
	width:159px;
	height:50px;
	display:block;
	}
.downloadmid:hover {
	background-position:0 100%;
	}
/*--------------CONTACT FORM [added on 27.12.2010]---------------------*/	

.contact_frm {
	width:680px;
	margin:50px 0 50px 0;
	padding-left:100px;
	background:url(../images/login_ico.gif) no-repeat 0 0
	}
.contact_frm h1 {
	font-size:25px;
	padding:15px 0 5px 0;
	margin-bottom:26px;
	}
.contact_frm h1 strong {
	font-size:19px;
	text-transform:none;
	font-weight:normal;
	display:block;
	color:#7D7D7D;
	}
.contact_frm h5 {
	font:normal 14px/16px "Trebuchet MS", "Times New Roman", Arial;
	color:#2D70A2;
	}
.contact_frm p {
	font-size:12px;
	margin:10px 0;
	}
.contact_frm p a {
	font-weight:bold;
	color:#090909;
	}
.contact_frm label { display:block; padding:6px 0; font-size:12px; }				
.contact_frm input.usepws {
	font:bold 16px/17px "Trebuchet MS", "Times New Roman", Arial;
	padding:16px 0 16px 23px;
	border:solid 1px #BCBCBC;
	color:#2D70A2;
	width:100%;
	
	}
.contact_frm label.small{
	width:200px; float:left; padding-right:19px; padding-bottom:30px;
}
.contact_frm label.small.last{
	padding-right:0;
}
.contact_frm label.small input{
	width:177px;
}
.contact_frm label.large{
	width:642px;
}
.contact_frm label.large input{
	width:619px;
}
.contact_frm label.large textarea{
	width:619px;
	height:125px;
	font:bold 16px/17px "Trebuchet MS", "Times New Roman", Arial;
	padding:16px 0 16px 23px;
	border:solid 1px #BCBCBC;
	color:#2D70A2;
	overflow:auto;
	margin-top:15px;
}
.contact_frm label.submit{
	margin-top:30px;
}
.contact_frm img{
	margin-top:20px;
}
.contact_info {
	width:680px;
	margin:0 0 0 100px;
}
.contact_info hr{
	width:640px;
	float:left;
	height:1px;
	border:0;
	border-bottom:#CCC solid 1px;
}
.contact_info h1 {
	font-size:25px;
	padding:0 0 5px 0;
	margin:40px 0 0 0;
	float:left;
}
.contact_info .left{
	width:252px;
	float:left;
	padding-bottom:50px;
}
.contact_info h5 {
	font:normal 14px/16px "Trebuchet MS", "Times New Roman", Arial;
	color:#2D70A2;
	width:100%;
	float:left;
	margin:25px 0 0 0;
}

.contact_info p{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	line-height:16px;
	color:#000;
	margin-top:25px;
	width:100%;
	float:left;
}
.contact_info p a
{
	color:#2d70a2;
	text-decoration:underline;
}
.contact_info p a:hover{
	text-decoration:none;
}	
